<section class="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2 class="section-title">Latest News</h2>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        <a href="#!" class="viewall-btn">
          View All
          <i class="fas fa-long-arrow-alt-right ms-2"></i>
        </a>
      </div>
    </div>
    <div class="news-wrapper">
      <div class="row">
        <div class="col-lg-4">
          <div class="news-box shadow">
            <div class="news-box__img">
              <img src="assets/images/Layer 28.png" class="img-fluid" alt="" />
            </div>
            <div class="news-box__body">
              <div class="news-box__body--actions"></div>
              <div class="news-box__body--content">
                <h2 class="title">
                  President El Sisi Unveils “Egypt Vision 2030”
                </h2>
                <div class="tags">
                  <ul class="tags__list">
                    <li class="tags__item">News</li>
                    <li class="tags__item">Egypt</li>
                  </ul>
                </div>
                <div class="description">
                  <p>
                    If you prefer to have a more personalized tour of the Grand
                    Egyptian Museum, you can choose one of the thematic tours in
                    Guided Tours, and we can provide a private tour with one of
                    our best ...
                  </p>
                </div>
              </div>
              <div class="news-box__body--footer">
                <p>
                  <i class="fas fa-calendar-alt"></i>
                  Wed 12 Aug 2020
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
