<section class="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2 class="section-title">Latest News</h2>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        <a routerLink="/news" class="viewall-btn">
          View All
          <i class="fas fa-long-arrow-alt-right ms-2"></i>
        </a>
      </div>
    </div>
    <div class="news-wrapper">
      <div class="row">
        <div class="col-lg-4 mb-4" *ngFor="let item of filteredDataArray">
          <div class="news-box shadow">
            <div class="news-box__img">
              <img
                [src]="item.urlToImage"
                class="card-img-top"
                alt="{{ item.title }} "
              />
            </div>
            <div class="news-box__body">
              <div class="news-box__body--actions"></div>
              <div class="news-box__body--content">
                <a routerLink="news/post/{{ item.id }}" class="title">
                  {{ item.title }}
                </a>
                <div class="tags">
                  <ul class="tags__list">
                    <li class="tags__item">News</li>
                    <li class="tags__item">Egypt</li>
                  </ul>
                </div>
                <div class="description">
                  <p>
                    {{ item.content }}
                  </p>
                </div>
              </div>
              <div class="news-box__body--footer">
                <p>
                  <i class="fas fa-calendar-alt"></i>
                  {{ item.publishedAt | date: "EEEE d MMMM y" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="loading" *ngIf="!filteredDataArray">
  <img src="assets/images/loading-buffering.gif" alt="" />
  <p>Loading Post...</p>
</div>
