@import "/src/assets/styles/vars";

.latest-news {
  margin-top: 1rem;
  .section-title {
    font-size: 3rem;
    color: $black;
    margin-bottom: 1rem;
    @media (max-width: 575.98px) {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
  .viewall-btn {
    color: $light_blue;
    text-decoration: none;
    i {
      transition: all 0.3s ease;
    }
    &:hover {
      i {
        transform: translateX(5px);
      }
    }
  }
}
