<section id="how-helped">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12">
        <h2 class="title">How we have helped</h2>
        <h6 class="sub-title">
          See how Al Foundation have promoted change locally and to the world
        </h6>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <ul class="l-diamonds">
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/pin (1).svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/Show-Hide password.svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/info.svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/surface1.svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/arrow (2).svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/Path 51794.svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="diamond">
              <div class="diamond__content">
                <img src="assets/images/noun_services_2097593.svg" />
                <h2 class="diamond__title">Nico Grienauer</h2>
                <a class="diamond__subtitle">+</a>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
