<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="quick-links">
          <ul class="quick-links__list">
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">News</a>
            </li>
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">Events</a>
            </li>
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">About</a>
            </li>
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">FAQs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="quick-links">
          <ul class="quick-links__list">
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">Privacy Policy</a>
            </li>
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">Contact Us</a>
            </li>
            <li class="quick-links__list--item">
              <a href="#!" class="quick-links__list--link">Complains</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="news-letter">
          <p class="news-letter__title">Subscribe to Newsletter</p>
          <form class="news-letter__form">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <button class="btn btn-primary" id="basic-addon2">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1">
        <div class="social-media">
          <p class="social-media__title">Follow us on</p>
          <ul class="social-media__list">
            <li class="social-media__list--item">
              <a href="#!" class="social-media__list--link">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-media__list--item">
              <a href="#!" class="social-media__list--link">
                <i class="fab fa-youtube" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-media__list--item">
              <a href="#!" class="social-media__list--link">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-media__list--item">
              <a href="#!" class="social-media__list--link">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-media__list--item">
              <a href="#!" class="social-media__list--link">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyrights">
  <p>All rights reserved - Link Development Company © 2021</p>
</div>
