<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <div class="navbar__left-side">
      <button class="side-toggle" (click)="sidebarShow = !sidebarShow">
        <div class="side-toggle__icon"></div>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo" src="assets/images/logo.svg" alt="" />
      </a>
    </div>

    <div class="navbar__right-side">
      <div class="search">
        <a href="#!">
          <i class="fa fa-search"></i>
        </a>
      </div>
      <div class="notifications">
        <a href="#!">
          <i class="far fa-bell"></i>
        </a>
      </div>
      <div class="profile">
        <a href="#!" class="profile__userinfo">
          <img src="assets/images/img.png" alt="" />
          <span class="username"> Mustafa Hassib </span>
        </a>
      </div>
      <div class="settings">
        <a href="#!">
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">X</div>
  <div class="sidebar-content">
    <app-sidebar *ngIf="sidebarShow"></app-sidebar>
  </div>
</div>
