<nav id="navbar" class="navbar navbar-expand-sm fixed-top navbar-dark">
  <div class="container">
    <div class="navbar__left-side">
      <button class="side-toggle" (click)="sidebarShow = !sidebarShow">
        <div
          class="side-toggle__icon"
          [ngClass]="sidebarShow ? 'active-overlay' : ''"
        ></div>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo" src="assets/images/logo.svg" alt="" />
      </a>
    </div>

    <div class="navbar__right-side">
      <div class="search">
        <button
          class="btn"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-trigger="hover"
          title="Search"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div class="notifications">
        <button
          class="btn"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="Notifications"
          data-bs-trigger="hover"
        >
          <i class="far fa-bell"></i>
        </button>
      </div>
      <div class="profile">
        <button href="#!" class="btn profile__userinfo">
          <img src="assets/images/img.png" alt="" />
          <span class="username"> Mustafa Hassib </span>
        </button>
      </div>

      <div class="settings">
        <button class="btn" (click)="dropdownShow = !dropdownShow">
          <i class="fa fa-cog"></i>
        </button>
        <div *ngIf="dropdownShow" class="settings__dropdown shadow">
          <ul class="settings__list">
            <li class="settings__list--item title">Language</li>
            <li class="settings__list--item">
              <a href="#!" class="settings__list--link"> English </a>
            </li>
            <li class="settings__list--item">
              <a href="#!" class="settings__list--link">اللغة العربية</a>
            </li>
          </ul>
          <ul class="settings__list">
            <li class="settings__list--item title">Font size</li>
            <li class="settings__list--item">
              <div class="font-switch">
                <a href="#!" class="font-large">A</a>
                <a href="#!" class="font-medium active-font">A</a>
                <a href="#!" class="font-small">A</a>
              </div>
            </li>
          </ul>
          <ul class="settings__list">
            <li class="settings__list--item title">Account</li>
            <li class="settings__list--item">
              <a href="#!" class="settings__list--link"> Sign out </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div
  class="sidebar-overlay"
  (click)="sidebarShow = false; dropdownShow = false"
  [ngClass]="sidebarShow || dropdownShow ? 'active-overlay' : ''"
></div>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div class="sidebar-content">
    <app-sidebar *ngIf="sidebarShow"></app-sidebar>
  </div>
</div>
