<div class="news-wrapper">
  <div class="container">
    <div class="filters">
      <div class="form-group d-flex">
        <div class="from-input">
          <label>From</label>

          <nz-date-picker
            [nzDisabledDate]="disabledStartDate"
            nzFormat="dd-MM-yyyy"
            [(ngModel)]="startDate"
            (ngModelChange)="onChange($event)"
            nzPlaceHolder="Start"
            (nzOnOpenChange)="handleStartOpenChange($event)"
            class="me-3"
          ></nz-date-picker>
        </div>
        <div class="to-input">
          <label>To</label>

          <nz-date-picker
            #endDatePicker
            [nzDisabledDate]="disabledEndDate"
            [(ngModel)]="endDate"
            (ngModelChange)="onChange($event)"
            nzFormat="dd-MM-yyyy"
            nzPlaceHolder="End"
          ></nz-date-picker>
        </div>
      </div>
      <div class="searchbar">
        <label>Search</label>

        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            nz-input
            placeholder="Type to start search"
            [(ngModel)]="userSearchKeyWord"
            (ngModelChange)="filterWithSearchKeyWord()"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </div>
      <div class="select-category">
        <label>Select Category</label>

        <nz-select ngModel="all" (ngModelChange)="filterWithCategory($event)">
          <nz-option nzValue="all" nzLabel="All"></nz-option>
          <nz-option
            *ngFor="let category of newsCategories"
            nzValue="{{ category.name }}"
            nzLabel="{{ category.name }}"
          ></nz-option>
        </nz-select>
      </div>
      <div class="sort-by">
        <label>Sort by</label>

        <nz-select ngModel="asc" (ngModelChange)="sortBy($event)">
          <nz-option nzValue="asc" nzLabel="A to Z"></nz-option>
          <nz-option nzValue="des" nzLabel="Z to A"></nz-option>
        </nz-select>
      </div>
    </div>

    <!-- NEWS SECTION -->
    <div class="row">
      <div class="col-lg-4 mb-4" *ngFor="let item of filteredDataArray">
        <div class="news-box shadow">
          <div class="news-box__img">
            <img
              [src]="item.urlToImage"
              class="card-img-top"
              alt="{{ item.title }} "
            />
          </div>
          <div class="news-box__body">
            <div class="news-box__body--actions"></div>
            <div class="news-box__body--content">
              <a routerLink="post/{{ item.id }}" class="title">
                {{ item.title }}
              </a>
              <div class="tags">
                <ul class="tags__list">
                  <li class="tags__item">News</li>
                  <li class="tags__item">Egypt</li>
                </ul>
              </div>
              <div class="description">
                <p>
                  {{ item.content }}
                </p>
              </div>
            </div>
            <div class="news-box__body--footer">
              <p>
                <i class="fas fa-calendar-alt"></i>
                {{ item.publishedAt | date: "EEEE d MMMM y" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="no-results" *ngIf="filteredDataArray?.length == 0">
      <img src="assets/images/no-search-results.svg" />
      <p>Oops! No results found</p>
      <p>Try to change your filters</p>
    </div>
  </div>
</div>

<div class="loading" *ngIf="!filteredDataArray">
  <img src="assets/images/loading-buffering.gif" alt="" />
  <p>Loading Post...</p>
</div>
