<div class="sidebar-body">
  <div class="social-icons">
    <ul class="social-icons__list">
      <li class="social-icons__item">
        <a href="#!" class="social-icons__link">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="#!" class="social-icons__link">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="#!" class="social-icons__link">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="#!" class="social-icons__link">
          <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="#!" class="social-icons__link">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-menu">
    <ul class="sidebar-menu__list">
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link active"> Home </a>
      </li>
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link"> About Us </a>
        <ul class="sidebar-menu__sublist">
          <li class="sidebar-menu__sublist--item">
            <a href="#!" class="sidebar-menu__sublist--link">Why are us</a>
          </li>
          <li class="sidebar-menu__sublist--item">
            <a href="#!" class="sidebar-menu__sublist--link">Why us ?</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link"> News </a>
        <ul class="sidebar-menu__sublist">
          <li class="sidebar-menu__sublist--item">
            <a href="#!" class="sidebar-menu__sublist--link">News</a>
          </li>
          <li class="sidebar-menu__sublist--item">
            <a href="#!" class="sidebar-menu__sublist--link">Events</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link"> Careers </a>
        <ul class="sidebar-menu__sublist">
          <li class="sidebar-menu__sublist--item">
            <a href="#!" class="sidebar-menu__sublist--link">Opportunities</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="sidebar-menu__list">
      <li class="sidebar-menu__item">
        <a href="#!" class="sidebar-menu__link"> Contact Us </a>
      </li>
      <li class="sidebar-menu__item">
        <a href="#!" class="sidebar-menu__link">Site Map </a>
      </li>
    </ul>
  </div>
</div>
