@import "./assets/styles/vars";

body {
  font-family: $body_font;
}

.news-wrapper {
  margin-top: 1rem;
  .news-box {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1rem;
    &__img {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
    &__body {
      padding: 15px 25px;
      &--content {
        .title {
          font-size: 18px;
          margin: 1rem 0;
        }
        .tags {
          &__list {
            padding: 0;
            display: flex;
            gap: 0.5rem;
          }
          &__item {
            padding: 5px 10px;
            border-radius: 8px;
            background-color: $light_gray;
            display: inline-block;
            font-size: 12px;
          }
        }
        .description {
          color: $text_gray;
          font-size: 14px;
        }
      }
      &--footer {
        p {
          font-size: 18px;
          font-weight: 700;
          color: $text_gray;
          margin-bottom: 0;
          i {
            margin-right: 0.5rem;
            color: $light_blue;
          }
        }
      }
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
